<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="discountProcess">
            <h2><span jhiTranslate="edmApp.discountProcess.detail.title">Discount Process</span> {{discountProcess.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="edmApp.discountProcess.quantity">Quantity</span></dt>
                <dd>
                    <span>{{discountProcess.quantity}}</span>
                </dd>
                <dt><span jhiTranslate="edmApp.discountProcess.dateToProcess">Date To Process</span></dt>
                <dd>
                    <span>{{discountProcess.dateToProcess}}</span>
                </dd>
                <dt><span jhiTranslate="edmApp.discountProcess.createdDate">Created Date</span></dt>
                <dd>
                    <span>{{discountProcess.createdDate}}</span>
                </dd>
                <dt><span jhiTranslate="edmApp.discountProcess.sqlFilePath">Sql File Path</span></dt>
                <dd>
                    <span>{{discountProcess.sqlFilePath}}</span>
                </dd>
                <dt><span jhiTranslate="edmApp.discountProcess.csvFilePath">Csv File Path</span></dt>
                <dd>
                    <span>{{discountProcess.csvFilePath}}</span>
                </dd>
                <dt><span jhiTranslate="edmApp.discountProcess.operador">Operador</span></dt>
                <dd>
                    <span>{{discountProcess.operador}}</span>
                </dd>
                <dt><span jhiTranslate="edmApp.discountProcess.environment">Environment</span></dt>
                <dd>
                    <div *ngIf="discountProcess.environment">
                        <a [routerLink]="['/environment', discountProcess.environment?.id, 'view']">{{discountProcess.environment?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/discount-process', discountProcess.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
