<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-environment-heading" jhiTranslate="edmApp.environment.home.createOrEditLabel">Create or edit a Environment</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!environment.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="environment.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="edmApp.environment.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="environment.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="edmApp.environment.url" for="field_url">Url</label>
                    <input type="text" class="form-control" name="url" id="field_url"
                        [(ngModel)]="environment.url" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="edmApp.environment.user" for="field_user">User</label>
                    <input type="text" class="form-control" name="user" id="field_user"
                        [(ngModel)]="environment.user" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="edmApp.environment.pass" for="field_pass">Pass</label>
                    <input type="text" class="form-control" name="pass" id="field_pass"
                        [(ngModel)]="environment.pass" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="edmApp.environment.discountProcess" for="field_discountProcess">Discount Process</label>
                    <select class="form-control" id="field_discountProcess" name="discountProcess" [(ngModel)]="environment.discountProcess" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="discountProcessOption.id === environment.discountProcess?.id ? environment.discountProcess : discountProcessOption" *ngFor="let discountProcessOption of discountprocesses; trackBy: trackDiscountProcessById">{{discountProcessOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
