<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="planDiscount">
            <h2><span jhiTranslate="edmApp.planDiscount.detail.title">Plan Discount</span> {{planDiscount.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="edmApp.planDiscount.name">Name</span></dt>
                <dd>
                    <span>{{planDiscount.name}}</span>
                </dd>
                <dt><span jhiTranslate="edmApp.planDiscount.position">Position</span></dt>
                <dd>
                    <span>{{planDiscount.position}}</span>
                </dd>
                <dt><span jhiTranslate="edmApp.planDiscount.discountPercentage">Discount Percentage</span></dt>
                <dd>
                    <span>{{planDiscount.discountPercentage}}</span>
                </dd>
                <dt><span jhiTranslate="edmApp.planDiscount.active">Active</span></dt>
                <dd>
                    <span>{{planDiscount.active}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/plan-discount', planDiscount.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
